.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
  text-align: center;
}

/* header start */

header > .container {
  position: relative;
}

header a {
  color: var(--text-selected-color);
  font-size: 36px;
  line-height: 44px;
}

.subscribe {
  position: absolute;
  right: 20px;
  top: 20px;
}
.subscribe-nav {
  display: none;
}
.navbar-borders {
  padding: 25px 0;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

.navbar-menu {
  padding: 25px 5px;
}
.navbar-menu > a,
.subscribe {
  transition: 0.5s;
}
.navbar-menu > a:hover,
.subscribe:hover {
  text-shadow: 1px 1px 5px black;
}

/* header end */

/* hero start */
.hero {
  margin-top: 30px;
}

.properties-item {
  font-size: 33px;
  text-align: center;
  width: 220px;
  height: 220px;
  margin: 20px 0;
  box-sizing: border-box;
  padding: 60px 5px;
  color: var(--text-selected-color);
  background-color: var(--bg-selected-color);
  border-radius: 50%;
}
/* hero end */

/* subscribe start */
.subscribe-section {
  background-image: url("../../images/ice-cream-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 0;
}

.subscribe-titles {
  color: var(--bg-main-color);
  width: 40%;
}
.subscribe-titles h2 {
  font-size: 96px;
  line-height: 116px;
}
.subscribe-titles h3 {
  font-size: 48px;
  line-height: 58px;
}
.subscribe-form.active {
  display: block;
}

.subscribe-form {
  display: none;
  width: 60%;
  margin-top: 50px;
}
.subscribe-form > input {
  display: block;
  width: 90%;
  background: rgba(255, 248, 225, 0.9);
  border-radius: 20px;
  border: none;
  padding: 17px 40px;
  outline: none;
}

.subscribe-form > input:not(:last-child) {
  margin-bottom: 70px;
}

.subscribe-form > input::placeholder,
.subscribe-form > input {
  color: var(--text-selected-color);
  font-size: 64px;
  line-height: 77px;
}

.subscribe-form > button[type="submit"] {
  font-size: 64px;
  line-height: 77px;
  color: var(--bg-main-color);
  background: rgba(173, 162, 255, 0.9);
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 50px;
}
.after-submit-modal {
  opacity: 0;
  z-index: -1;
  position: absolute;
  transition: 1s;
  width: 60%;
  background: rgba(255, 248, 225, 0.9);
  border-radius: 20px;
  text-align: center;
  padding: 28px 44px;
  box-sizing: border-box;
}
.after-submit-modal > h3 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: var(--text-selected-color);
}
.after-submit-modal > p {
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  text-align: justify;
  color: var(--text-selected-color);
}
.after-submit-modal.active {
  opacity: 1;
  z-index: 1;
  position: relative;
}
/* subscribe end */

/* about us start */

.about-us > h2 {
  margin-top: 60px;
}

.swiper {
  margin-top: 125px;
  position: relative;
}

.about-text {
  padding: 0 100px;
  font-size: 48px;
  line-height: 58px;
  text-align: justify;
  color: var(--text-main-color);
}

.swiper-prev,
.swiper-next {
  cursor: pointer;
  position: absolute;
  top: 100px;
  z-index: 2;
}

.swiper-prev {
  transform: rotate(-180deg);
  left: 0;
}

.swiper-next {
  right: 0;
}
.swiper-slide {
  position: relative;
}
.slide-img {
  transform: translateX(400px);
}

/* about us end */

/* flavors start */

.flavour-description {
  padding-top: 150px;
}

.ice-cream-slide > img {
  transform: translateX(100px);
}

.flavour-description > h3 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: var(--text-main-color);
  margin-bottom: 35px;
}

.flavour-description > p {
  font-size: 35px;
  line-height: 58px;
  color: var(--text-main-color);
  width: 60%;
  margin: 0 auto;
}
.distributors {
  text-align: right;
  font-size: 25px;
  line-height: 39px;
  color: var(--text-selected-color);
}
/* flavors end */

/* prices start */
.prices-section > .section-title {
  margin-bottom: 40px;
}

.prices-list {
  padding: 47px 50px;
  background: rgba(255, 229, 241, 0.5);
  border-radius: 30px;
  text-align: left;
  font-size: 40px;
  line-height: 77px;
  color: var(--text-main-color);
}

/* prices end */

/* contact start */

.contact-section > .section-title {
  margin-bottom: 90px;
}

.contact-item,
.contact-item > a {
  color: var(--text-main-color);
}
.contact-item {
  width: 40%;
  text-align: left;
  font-size: 30px;
  line-height: 58px;
}
.contact-item > a {
  text-decoration: underline;
}

.contact-item:nth-child(odd) {
  transform: translateX(150%);
}
/* contact end */

/* footer start */
footer {
  text-align: center;
  padding: 100px 0;
  position: relative;
}
footer > p {
  font-size: 64px;
  line-height: 77px;
  color: #f9b5d0;
  display: inline-block;
}
footer > img {
  position: absolute;
  right: 50px;
  top: 0;
  z-index: -1;
}
/* footer end */
